extends layout

block content
  |<div id="container"/>
  //- inject:js
  |<script type="text/jsx" src="js/App.jsx"/>
  |<script type="text/jsx" src="js/ScrollPackage/ScrollDash.jsx"/>
  |<script type="text/jsx" src="js/ScrollPackage/Scroll.jsx"/>
  |<script type="text/jsx" src="js/ScrollPackage/fakeData.js"/>
  //- endinject
